/* Cor principal */
:root {
    --cor-primaria: #3498db; /* Azul */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Cor de fundo suave */
    color: #333; /* Cor do texto principal */
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-primaria);
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: var(--cor-primaria);
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: var(--cor-primaria);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Página de cadastro de alunos */
form {
    max-width: 400px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input,
form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

form button {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form button:hover {
    background-color: #286090; /* Tom mais escuro para efeito de hover */
}

a {
    color: var(--cor-primaria);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
